@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'KBO-Dia-Gothic_light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'KimjungchulMyungjo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PuradakGentleGothicR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.main h1,.cover,.Work_smallbox>span,nav a,.middle_text,.text_h1 h1,.contact_text h1{
    font-family: 'PuradakGentleGothicR';
}
.Career h1,.tech h1,.Work_cover p,.click,.circle_text{
    font-family: 'KBO-Dia-Gothic_bold';

}
.Career p, .tech_text p,.text1_p1,.text1_p2,.contact_text p,footer{
    font-family: 'KBO-Dia-Gothic_light';

}