/* 1200px */

@media screen and (max-width : 1200px) {



    .main h1 {

        font-size: 11em;
        background-size: 100% 135% !important;
    }

    nav a {

        font-size: 0.7em;
    }

    .About1 .About1_middle .middle_top .middle_text>h2 {

        font-size: 4em;
    }

    .About1 .About1_middle .middle_top .middle_text .text {

        font-size: 7em;
    }

    .svg2 {

        top: 25%;
    }

    .text_h1 {

        font-size: 1.8em;
    }

    .Work>div .Work_wrapper .Work_box .Work_smallbox {

        width: 100%;
    }

    .contact>div .contact_text h1 {

        font-size: 2em;
    }


    .contact>div .contact_text p {

        font-size: 1.2em;
    }

    .About1 .middle_bottom {
        min-width: 1200px;

    }

    .About2 .About2_wrapper {
        min-width: 1200px;
    }

    .Work>div {
        width: 1200px;
    }

    .contact>div {
        min-width: 1200px;

    }

    .Work>div .Work_btn {
        left: 0;
    }

    .contact>div svg {

        left: 35%;
        top: 23%;

    }

    .circle_box {

        left: 70%;
    }
}

/* 992px */

@media screen and (max-width : 992px) {

    .main h1 {
        font-size: 10em;
    }

    .About1 .middle_bottom {
        bottom: 0%;
        min-width: 992px;
    }

    .About1 .middle_bottom .text_h1 {
        font-size: 1.4em;
        line-height: 4rem;
        height: 15%;
    }

    .About2 .About2_wrapper {
        align-items: flex-start;
        height: 90%;
        min-width: 992px;
    }

    .About2 .About2_wrapper .Career h1,
    .About2 .About2_wrapper .tech h1 {
        font-size: 2.5rem;
    }

    .Career p>span:nth-child(1),
    .tech_text p>span:nth-child(1) {

        display: block;
        text-align: center;
        margin: 0px;
    }

    .Career p>span:nth-child(2),
    .tech_text p>span:nth-child(2) {

        display: block;
        padding: 5% 0%;
        width: 100%;
        text-align: center;
    }


    .cover p {

        font-size: 5rem;
    }

    .Work>div {
        width: 992px;
    }

    .contact>div {
        min-width: 992px;
    }

    .Work>div .Work_wrapper .Work_box .Work_smallbox {

        width: 100%;
    }

    .left {
        margin-left: 0;
    }

    .contact>div .circle_box {
        left: 65%;
        top: 15%;
    }

    .contact>div svg {
        display: none;
    }
}


/* 768px */
@media screen and (max-width : 768px) {


    .main h1 {
        font-size: 8em;
        background-size: 100% 145% !important;
    }

    .About1 .About1_middle .middle_top .middle_text .svg2 {
        display: none;
    }

    .About1 .About1_middle .middle_top .middle_text .text {
        font-size: 5em;
    }

    .About1 .middle_bottom {

        min-width: 767px;
    }

    .About1 .middle_bottom .text_h1,
    .About1 .middle_bottom .text1_p {
        padding: 3%;
    }

    .About2 .About2_wrapper {
        max-height: 500px;
        min-width: 767px;
    }

    .About2 .About2_wrapper .Career p,
    .About2 .About2_wrapper .tech_text p {

        padding: 1% 0%;
    }

    .Work>div {
        width: 767px;
    }

    .contact>div {
        min-width: 767px;
    }

    .Work>div .Work_btn>a {

        width: 75px;
        height: 75px;
    }

    .Work>div .Work_btn>a>i {
        font-size: 2em;
    }

    .Work>div .Work_btn {

        transform: translate(0%, 0%);
        left: 2%;
        top: 5%;
        width: 22%;
        display: flex;
        align-items: center;
    }



    .Work_smallbox>a {

        width: 95%;
        height: 100%;
        margin: 0px auto;
    }

    .Work_img {

        width: 100%;
    }

    .Work_smallbox>a>h1 {

        display: none;
    }

    .contact>div .contact_text p {

        margin-top: 5%;


    }

    .contact {
        min-height: 600px;
    }

    .contact>div .contact_text {

        height: auto;
        position: absolute;
        top: 45%;
        left: 5%;
        z-index: 2;
        transform: translate(0px, -50%);
    }

    .contact>div .circle_box {
        left: 72%;
        top: 50%;
        width: 200px;
        height: 200px;
    }

    .contact>div .circle_box .circle {

        width: 200px;
        height: 200px;
    }


    .contact>div .circle_box .kakao {

        width: 100px;
        height: 100px;
    }


    .contact>div .circle_box .circle_text {

        font-size: 1em;

        bottom: -31%;
    }

    .contact>div svg {

        display: none;
    }
}


@media screen and (max-width : 576px) {
    .main h1 {
        font-size: 6em;
        background-size: 100% 170% !important;
    }

    .About1 .About1_middle .middle_top .middle_text>h2 {
        font-size: 3em;
    }

    .About1 .About1_middle .middle_top .middle_text .text {
        font-size: 4em;
    }

    .About1 .middle_bottom {
        bottom: 0%;
        min-width: 576px;
    }

    .About1 .middle_bottom .text_h1,
    .About1 .middle_bottom .text1_p {
        padding: 5% 2%;
    }

    .About1 .middle_bottom .text_h1 {
        font-size: 1em;
        line-height: 3rem;
        height: 10%;
    }

    .About1 .middle_bottom .text1_p .text1_p1 {
        font-size: 1.2em;
    }

    .text1_p2 {
        margin-top: 10%;
        font-size: 1em;
        line-height: 25px;
    }

    .About2 .About2_wrapper {
        min-width: 450px;
    }

    .About2 .About2_wrapper .Career h1,
    .About2 .About2_wrapper .tech h1 {
        font-size: 1.5rem;
    }

    .Work>div {
        width: 576px;
    }

    .Work>div .Work_wrapper .Work_box .Work_smallbox>a .Work_img {
        width: 100%;
        height: 100%;
    }

    .Work>div .Work_btn {
        top: 5%;
        width: 30%;
    }

    .contact>div {
        min-width: 576px;
        height: 100%;
    }

    .contact>div .circle_box {
        top: 65%;
        width: 200px;
        height: 200px;
        left: 60%;
    }
}